@using BaseSource.ViewModels.Project;
@model List<PetProjectDto>
@{
    ViewData["Title"] = "Danh sách Project";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item"><a href="#">Danh sách</a></div>
            <div class="breadcrumb-item">@ViewData["Title"]</div>
        </div>
    </div>

    <div class="section-body">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>@ViewData["Title"]</h4>
                        <a class="btn btn-success" href="/admin/project/create">Thêm mới</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tableProject">
                                <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th>Danh mục</th>
                                        <th>Ngày tạo</th>
                                        <th>Publish</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td><span class="badge badge-primary">@item.CategoryName</span> </td>
                                            <td>@item.CreatedTime.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                <label class="custom-switch" style="padding-left:unset !important">
                                                    <input type="checkbox" data-id="@item.Id" checked="@item.Published" class="custom-switch-input chboxPublished" />
                                                    <span class="custom-switch-indicator"></span>
                                                    <span class="custom-switch-description"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <a class=" btn btn-primary" href="/admin/project/update?id=@item.Id">Cập nhật</a>
                                                <button class="btn btn-danger" onclick="delete('@item.Id')">Xóa</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {

            $("#tableProject").DataTable({

            });
            $('body').on('change', '.chboxPublished', function (e) {
                let id = $(this).attr('data-id');
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: `/admin/project/Published?id=${id}`,
                    data: $(this).serialize(),
                    success: function (response) {
                        switch (response.code) {
                            case 1:
                                //iziToast.success({
                                //    title: 'Thành công!',
                                //    message: 'Cập nhật thành công',
                                //    position: 'topRight'
                                //});
                                setTimeout(function () {
                                    window.location = '/admin/project';
                                }, 120);

                                break;
                            case -2:

                                iziToast.error({
                                    title: 'Lỗi!',
                                    message: response.err,
                                    position: 'topRight'
                                });
                                break;
                        }

                    }
                });
            })
        });

    </script>
}


