
@model List<UserAdminInfoDto>
@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
   
    var index = 1;
}
<section class="section">
    <div class="section-header">
        <h1>Danh sách người dùng</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Home</a></div>
            <div class="breadcrumb-item"><a href="#">Danh sách người dùng</a></div>
            <div class="breadcrumb-item">Danh sách</div>
        </div>
    </div>

    <div class="section-body">
        <h2 class="section-title">Danh sách người dùng</h2>
        <div class=" row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="card-stats">
                        <div class="card-stats-title">
                            Báo cáo
                        </div>
                        <div class="card-stats-items">
                            <div class="card-stats-item">
                                <div class="card-stats-item-count"><span class="badge badge-success">1</span></div>
                                <div class="card-stats-item-label">Tổng kênh</div>
                            </div>
                            <div class="card-stats-item">
                                <div class="card-stats-item-count"><span class="badge badge-danger">1</span></div>
                                <div class="card-stats-item-label">Tổng BOT</div>
                            </div>
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">1</div>
                                <div class="card-stats-item-label">Tổng User</div>
                            </div>
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">1</div>
                                <div class="card-stats-item-label">Tổng TK Quản lý</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <br />
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Danh sách người dùng</h4>
                        <a class="btn btn-success" href="/admin/user/create">Tạo mới</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="tableAllUser">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Người dùng</th>
                                        <th>Mật khẩu</th>
                                        <th>Số kênh</th>
                                        <th>Số BOT</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(index++)</td>
                                            <td>@item.UserName</td>
                                            @if (!string.IsNullOrEmpty(item.UserUpdate))
                                            {
                                                <td>[@(item.UserUpdate)- @(item.UpdatedTime?.ToString("dd/MM/yyyy"))]</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td><span class="badge badge-success">@item.TotalChannel</span> </td>
                                            <td><span class="badge badge-danger">@item.TotalBOT</span></td>
                                            <td>
                                                <a class="btn btn-primary" href="/admin/channel/user?userId=@(item.Id)&username=@(item.UserName)">Thêm Kênh</a>
                                                <a class="btn btn-success" href="/admin/bot/user?userId=@(item.Id)&username=@(item.UserName)">DS BOT</a>
                                                <button class="btn btn-danger btnDelete" data-id="@item.Id">
                                                    Delete
                                                </button>
                                                <button class="btn btn-warning btnResetPassword"
                                                        data-id="@item.Id"
                                                        data-user="@item.UserName">
                                                    Reset Mật khẩu
                                                </button>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="createUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="formcreateUser" action="/admin/User/Create">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm mới người dùng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-4">
                        <label class="">UserName</label>
                        <div class="">
                            <input name="UserName" placeholder="Nhập username người dùng" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label class="">Mật khẩu</label>
                        <div class="">
                            <input name="Password" placeholder="Nhập mật khẩu người dùng" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    
                    @*<div class="form-group mb-4">
                        <label class="">Link telegram</label>
                        <div class="">
                            <input type="number" name="LinkTelegram" placeholder="Nhập link telegram" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>*@
                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="deleteUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="formDeleteUser" action="/admin/User/Delete">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa người dùng?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn có muốn xóa người dùng này?</p>
                    <input class="form-control" name="userId" type="hidden" />
                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>

                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="resetPasswordModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="formResetPassword" action="/admin/User/ResetPassword">
                <div class="modal-header">
                    <h5 class="modal-title">Reset mật khẩu người dùng :<span class="text-danger text-userName"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-4">
                        <label class="">Nhập mật khẩu mới</label>
                        <div class="">
                            <input name="Password" required placeholder="Nhập mật khẩu mới" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <input class="form-control" name="userId" type="hidden" />
                </div>
                <div class="modal-footer bg-whitesmoke br">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>

                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tableAllUser").DataTable({});

            $('body').on('click', '.btnReset', function () {
                let id = $(this).attr('data-id');
                $('#formResetPassword input[name="userId"]').val(id);
            });
            $('body').on('click', '.btnDelete', function () {
                $('#deleteUserModal').modal('show');
                let id = $(this).attr('data-id');
                $('#formDeleteUser input[name="userId"]').val(id);
            });
            $('body').on('click', '.btnTelegram', function () {
                $('#telegramModal').modal('show');

                let id = $(this).attr('data-id');
                let telegrams = $(this).attr('data-tele');
                $('#formTelegram input[name="UserId"]').val(id);
                $('#formTelegram input[name="Telegram"]').val(telegrams);
            });

            $('body').on('click', '.btnResetPassword', function () {
                let id = $(this).attr('data-id');
                let user = $(this).attr('data-user');
                $('.text-userName').html(user);
                $('#formResetPassword input[name="userId"]').val(id);
                $('#resetPasswordModal').modal('show');
                //$('#telegramModal').modal('show');


                //let telegrams = $(this).attr('data-tele');
                //$('#formTelegram input[name="UserId"]').val(id);
                //$('#formTelegram input[name="Telegram"]').val(telegrams);
            });


        });


    </script>
}

