@using BaseSource.ViewModels.Project;
@using System.Text.RegularExpressions;
@model List<PetProjectDto>
@{
    ViewData["Title"] = "Danh sách project";
}
<style>
    .article {
        margin-bottom: unset !important;
    }

        .article .article-details {
            padding: 5px 20px !important;
        }

        .article.article-style-c .article-details .article-category {
            letter-spacing: 2px;
        }

            .article.article-style-c .article-details .article-category a {
                font-size: 12px;
            }
</style>

<section class="section">
    <div class="section-header">
        <h1>Danh sách Project</h1>
        @* <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item"><a href="#">Layout</a></div>
        <div class="breadcrumb-item">Top Navigation</div>
        </div>*@
    </div>

    <div class="section-body">
        @*<h2 class="section-title">Articles</h2>
        <p class="section-lead">This article component is based on card and flexbox.</p>*@

        <div class="row project_data row-eq-height">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <article class="article article-style-c h-100">
                        <div class="article-header">
                            <a href="/project/@item.Slug">
                                <div class="article-image" data-background="@item.Image" style="background-image: url('@item.Image');"></div>
                            </a>
                            <div class="article-badge">
                                <div class="article-badge-item bg-danger">
                                    @* <i class="fas fa-fire"></i> *@
                                    @item.CategoryName
                                </div>
                            </div>
                        </div>
                        <div class="article-details">
                            <div class="article-category">
                                <a href="#">
                                    @if (item.TotalVote > 0)
                                    {
                                        <span class="text-success">
                                            <i class="fas fa-caret-down"></i>
                                            @item.TotalVote
                                        </span>
                                    }
                                    else if (item.TotalVote < 0)
                                    {

                                        <span class="text-danger">
                                            <i class="fas fa-caret-down"></i>
                                            @item.TotalVote
                                        </span>

                                    }
                                    else
                                    {
                                        <span class="text-gray">
                                            <i class="fas fa-solid fa-minus"></i>
                                        </span>
                                    }

                                </a>
                                <div class="bullet"></div>
                                <a href="#">@item.CreatedTime.ToString("dd/MM/yyyy")</a>
                                <div class="text-muted text-small">
                                </div>
                            </div>
                            <div class="article-title">
                                <h2><a href="/project/@item.Slug">@item.Name</a></h2>
                            </div>
                            <p>
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    var data = Regex.Replace(item.Description, "<.*?>", string.Empty);
                                    if (data.Length > 100)
                                    {
                                        data = $"{data.Substring(0, 99)}...";
                                    }
                                    <b style="color:black !important;text-transform: initial !important">@data</b>
                                }
                            </p>

                        </div>
                    </article>
                </div>
            }


        </div>
    </div>

</section>
@section Scripts{

    <script>
        var pageIndex = 2;
        var isPeding = false;
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                if (pageIndex > 0 && !isPeding) {
                    isPeding = true;
                    // ajax call get data from server and append to the div
                    $.ajax({
                        url: `/getproject?page=${pageIndex}`,
                        type: 'GET',
                    }).done(function (response) {
                        isPeding = false;
                        if (response != null) {
                            $('.project_data').append(response);
                            pageIndex += 1;
                        }
                        else {
                            pageIndex = 0;
                        }

                    });
                }

            }
        });

    </script>
}